@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@319&display=swap');

/* =Common Styles
-------------------------------------------------------------- */


html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
}
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background-color: #eee;
    -webkit-border-radius: 0;
}
::-webkit-scrollbar:hover {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: #aeaeae;
    -webkit-border-radius: 0;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    background: #bbb;
    cursor: pointer;
}
::-moz-selection {
    background: #060606;
    color: #fff;
}
::selection {
    background: #060606;
    color: #fff;
}
::-moz-selection {
    background: #060606;
    color: #fff;
}
::-webkit-input-placeholder {
    color: #787878;
    font-size: 14px;
    letter-spacing: 1pt;
    font-family: 'Josefin Sans', sans-serif;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    color: #787878;
    font-size: 14px;
    letter-spacing: 1pt;
    font-family: 'Josefin Sans', sans-serif;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #787878;
    font-size: 14px;
    letter-spacing: 1pt;
    font-family: 'Josefin Sans', sans-serif;
}
:-ms-input-placeholder {
    color: #787878;
    font-size: 14px;
    letter-spacing: 1pt;
    font-family: 'Josefin Sans', sans-serif;;
}
/* =Typography
-------------------------------------------------------------- */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond', serif!important;
    font-weight: bold;
}
a {
    color: #383838;
    transition: all 0.5s;
    font-family: 'Cormorant Garamond', serif!important;
}

a:focus {
    outline: 0;
}

a:hover,
a:focus {
    color: #000000;
    text-decoration: none;
}

nav a,
nav a:visited {
    font-weight: 400;
    text-decoration: none;
    font-size: 23px;
    margin-top: 20px!important;
    margin-bottom: 0px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
}

em {
    font-style: italic;
}

strong {
    font-weight: 500;
}

small {
    font-size: 0.8em;
}

address, span {
    font-family: 'Josefin Sans', sans-serif;
}

p {
    color: #111111;
    line-height: 24px;
    font-size: 16px;
    clear: both;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.4px;
    font-weight: 319;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 17px;
}
h6 {
    font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cormorant Garamond', serif!important;
    letter-spacing: 1.3pt;
    color: #111111;
    clear: both;
    padding-bottom: 5px;
}
b {
    font-weight: 900;
}
blockquote {
    margin: 30px 0 30px;
    padding: 0 0 0 20px;
    font-size: 18px;
    border-left: 4px solid #787878;
    line-height: 25px;
    color: #787878;
}
blockquote p {
    display: inline;
}
ul {
    padding-left: 25px;
}
ul li {
    list-style-type: inherit;
}

/* =General
-------------------------------------------------------------- */

.clearfix {
    clear: both;
}
.seperate {
    clear: both;
    height: 35px;
}

.img-shadow {
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
}
.img-center {
    display: block;
    margin: auto;
}
.image-cover {
    background-size: cover !important;
}
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.margin-top {
    margin-top: 100px;
}
.margin-bottom {
    margin-bottom: 100px;
}
.seperate {
    height: 100px;
    clear: both;
}
.main-title {
    clear: both;
    text-align: center;
    margin-bottom: 35px;
}

.main-title h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}
.main-title h6 {
    font-family: 'Josefin Sans', sans-serif;
}

/*the animation definition*/
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 80px, 0);
        transform: translate3d(0, 80px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 80px, 0);
        -ms-transform: translate3d(0, 80px, 0);
        transform: translate3d(0, 80px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}



/* =Buttons
-------------------------------------------------------------- */

.btn {
    letter-spacing: 1.5pt;
    border-radius: 0;
    font-weight: 400;
}
.btn-1 {
    clear: both;
    margin-top: 10px;
    border: 1px solid #c5c5c5;
    color: #909090;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}
.btn-1:hover {
    border: 1px solid black;
    color:black;
    transition: all 0.25s ease;
}

/* =Preloader
-------------------------------------------------------------- */

.cover {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(232, 232, 232, 0.95);
}

/* =Header
-------------------------------------------------------------- */

.header {
    width: 100%;
    background: #fff;
    z-index: 9;
    position: relative;
}

.header nav {
    margin-top: 15px;
}

.header nav ul {
    float: right;
    margin-left: 15px;
}

.header nav ul li {
    margin-left: 35px;
    font-size: 17px;
}

.navbar-brand img {
    width: 182px;
    height: auto;
    margin-top: -31px;
}

.navbar-toggle .icon-bar {
    background-color: black;
}


.logo h1 {
    line-height: 100px;
}


/*Slider Home*/
.slider-wrapper {
    position: relative;
    margin-top: 15px;
}
.slider-images-wrapper {
    z-index: -1;
}
.slider-description {
    position: absolute;
    top: 71%;
    width: 100%;
    max-width: 100%;
}
.slider-description-inner {
    margin-left: 6%;
}
.slider-description-inner h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    letter-spacing: 8px;
    color: white;
}


/* About 
-------------------------------------------------------------- */
.aboutimg2 {
    margin-left: -100px; 
    margin-right: 50px;
}

.abouttext2 .row {
    margin-top: 80px;
}


/* Awards 
-------------------------------------------------------------- */
.awards-home-page {
    float: left;
    text-align: center;
}
.awards-home-page .card {
    padding: 15px;
   
    margin-top: 15px;
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
}

.awards-home-page .card img {
    width: 225px;
    height: auto;
    padding: 10px;
    
}

.awards-home-page .card:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: -webkit-transform 3s;
    transition: transform ease 0.5s;
}

.gna, .brad{
    margin-top: -120px!important;
}

/* =Portfolio General
-------------------------------------------------------------- */
.portfolio-wrapper {
    clear: both;
}

#work-grid, #dribbble-portfolio {
    clear: both;
}
.js-masonry {
    height: 100% !important;
    clear: both;
}
/*Overlay Thumb Portftolio */
.img {
    position: relative;
    overflow: hidden;
    display: inherit;
}
.mix .img {
    margin-bottom: 30px;
}
.img img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -o-transition: opacity 0.35s, -o-transform 0.35s;
}
.img:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: -webkit-transform 3s;
    transition: transform 0.5s;
}


/* =Footer
-------------------------------------------------------------- */
.footer {
    width: 100%;
    float: left;
    background: #f4f4f4;
    min-height: 300px;
}
.footer-inner {
    height: 300px;
    display: table;
    width: 100%;
}
.footer-content {
    display: table-cell;
    vertical-align: middle;
}
.footer-content p {
    color: #787878;
}
.footer-content h4 {
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
.footer-content address {
    color: #787878;
    font-size: 14px;
    letter-spacing: 1.5pt;
}
ul.social-media {
    padding: 0;
    text-align: center;
}
ul.social-media li {
    list-style-type: none;
    display: inline;
    padding: 5px;
}
ul.social-media li a i {
    color: #111111;
    font-size: 25px;
    padding: 10px;
}
ul.social-media li a i:hover {
    color: gray;
}
.copyright-mark {
    /*margin-top: 50px;*/
    display: block;
    text-align: center;
    color: #787878;
    letter-spacing: 1.5pt;
}


